<?xml version="1.0"?>
<loggingConfiguration name="Logging Application Block"
                        tracingEnabled="true"
                        defaultCategory="TraceInfo Logging"
                        logWarningsWhenNoCategoriesMatch="true">
  <listeners>
    <add fileName="WebApi.Exception.log"
         header=""
         footer=""
         formatter="Text Formatter"
         rollInterval="Day"
         rollFileExistsBehavior="Increment"
         rollSizeKB="20480"
         timeStampPattern="yyyy-MM-dd"
         listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
         traceOutputOptions="None"
         type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
         name="Web API FlatFile TraceListener" />

    <add fileName="WebApi.Trace.log"
         header=""
         footer=""
         formatter="Simple Text Formatter"
         rollInterval="Day"
         rollFileExistsBehavior="Increment"
         rollSizeKB="20480"
         timeStampPattern="yyyy-MM-dd"
         listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
         traceOutputOptions="None"
         type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
         name="TraceInfo FlatFile TraceListener" />
    <add fileName="tex-audit.log"
             header=""
             footer=""
             formatter="Simple Text Formatter"
             rollInterval="Day"
             rollFileExistsBehavior="Increment"
             timeStampPattern="yyyy-MM-dd"
             listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
             traceOutputOptions="None"
             asynchronous="true"
             asynchronousBufferSize="100000"                           
             type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
             name="Web API Audit FlatFile TraceListener" />
  </listeners>
  <formatters>
    <add template="{timestamp(local:s)} {appDomain} {message} Category: {category} Priority: {priority} EventId: {eventid} Severity: {severity} Title:{title} Machine: {machine} Application Domain: {appDomain} Process Id: {processId} Process Name: {processName} Win32 Thread Id: {win32ThreadId} Thread Name: {threadName} "
         type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
         name="Text Formatter" />
    <add template="{timestamp(local:s)} {appDomain} {message}"
         type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
         name="Simple Text Formatter" />
  </formatters>
  <categorySources>
    <add switchValue="All" name="Web API Exception Logging">
      <listeners>
        <add name="Web API FlatFile TraceListener" />
      </listeners>
    </add>
    <add switchValue="All" name="TraceInfo Logging">
      <listeners>
        <add name="TraceInfo FlatFile TraceListener" />
      </listeners>
    </add>
    <add switchValue="All" name="AuditInfo Logging">
      <listeners>
        <add name="Web API Audit FlatFile TraceListener" />
      </listeners>
    </add>
  </categorySources>
  <specialSources>
    <allEvents switchValue="All"
               name="All Events" />
    <notProcessed switchValue="All"
                  name="Unprocessed Category" />
    <errors switchValue="All" name="Logging Errors &amp; Warnings" />
  </specialSources>
</loggingConfiguration>